@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --text-extra-bold: 900;
  --text-bold: 700;
  --text-mid: 500;
  --text-reg: 400;
  --text-light: 300;

  --text-xxl: 72px;
  --text-xl: 34px;
  --text-lg: 24px;
  --text-medium: 18px;
  --text-regular: 14px;

  --color-bg: #66927c;
  --color-highlight: #f2cc8f;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-star: #f5b245;
  --color-btn-text: #3d405b;

  --shadow-color: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.5em;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-fill {
  background-color: var(--color-bg);
  color: var(--color-white);
}

/* hero section */

.hero {
  position: relative;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  font-size: var(--text-regular);
  font-weight: var(--text-mid);
}

.logo {
  text-decoration: none;
  color: var(--color-white);
  font-size: var(--text-medium);
}

.logo span {
  color: var(--color-highlight);
}

.navBx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.navs {
  display: flex;
}

.nav-link {
  margin: 0 30px;
  cursor: pointer;
}

.btn {
  padding: 1em 2em;
  border-radius: 2em;
  border: none;
  color: var(--color-btn-text);
  font-size: var(--text-regular);
  font-weight: var(--text-bold);
  background: var(--color-highlight);
  cursor: pointer;
}

.hero::after {
  position: absolute;
  content: "";
  background: url(images/curve_vector.png) bottom right no-repeat;
  background-size: contain;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 80%;
  z-index: 2;
}

.banner {
  position: relative;
  padding: 100px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.banner .content {
  width: 50%;
}

.banner .content h1 {
  font-size: var(--text-xxl);
}

.banner .content p {
  width: 80%;
  margin: 40px 0;
}

.banner .imgBx {
  position: relative;
  width: 300px;
  height: 400px;
  background: #33493e;
  padding: 20px;
  margin-top: 100px;
}

.banner .imgBx img {
  position: absolute;
  top: -120px;
  left: -60px;
}

.banner .imgBx p {
  position: absolute;
  bottom: 20px;
  width: 220px;
  text-align: center;
  font-size: var(--text-regular);
  right: 50%;
  transform: translateX(50%);
}

.banner .imgBx p i {
  display: block;
  margin-bottom: 7px;
  font-size: 18px;
}

/* Courses section */

.courses {
  padding: 100px;
}

h2 {
  font-size: var(--text-xl);
}

.courses h2 {
  text-align: center;
  color: var(--color-btn-text);
}

.courses .course-category {
  display: flex;
  font-size: var(--text-lg);
  font-weight: var(--text-mid);
  justify-content: center;
  margin: 20px auto;
}

.courses .course-category .category {
  margin: 0 40px;
  cursor: pointer;
}

.courses .course-category .category:hover {
  color: var(--color-highlight);
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards .card {
  width: 350px;
  padding: 15px;
  box-shadow: var(--shadow-color);
  margin: 50px 20px;
}

.cards .card .imgBx {
  position: relative;
  width: 100%;
  height: 315px;
  border-radius: 0.5em;
  overflow: hidden;
}

.cards .card .imgBx::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.411));
  top: 0;
  left: 0;
}

.cards .card .card-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  padding: 10px 0;
}

.cards .card .card-desc p:nth-child(1) {
  width: 75%;
  font-size: var(--text-regular);
  font-weight: var(--text-mid);
  letter-spacing: 0px;
}

.cards .card .card-desc .price {
  color: var(--color-star);
}

.cards .card .owner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cards .card .owner .card-tchr,
.test-cards .test-card .card-tchr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards .card .owner .card-tchr img,
.test-cards .test-card .card-tchr img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.cards .card .owner .rating {
  display: flex;
  align-items: center;
}

.cards .card .owner .rating i {
  color: var(--color-star);
  padding: 5px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  margin-right: 10px;
}

/* platform details */
.platform-details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px;
  padding-bottom: 50px;
}

.platform-details .picBx {
  position: relative;
  height: 525px;
  width: 525px;
  background: url(images/Subtract.png) center;
  background-size: cover;
}

.platform-details .picBx.sec {
  background: url(images/Subtract_1.png) center;
}

.platform-details .picBx .imgBx {
  position: absolute;
  top: 70px;
  right: -100px;
  height: 229px;
  width: 200px;
  background: var(--color-white);
  box-shadow: var(--shadow-color);
  padding: 20px;
  border-radius: 0.3em;
}

.platform-details .picBx .imgBx2 {
  position: absolute;
  height: 150px;
  width: 200px;
  bottom: 70px;
  left: -50px;
  box-shadow: var(--shadow-color);
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  border-radius: 0.3em;
}

.platform-details .picBx .imgBx img,
.platform-details .picBx .imgBx2 img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.platform-details .picBx .imgBx .desc {
  position: relative;
  width: 23px;
  height: 23px;
  background: #2dd08c;
  margin: 10px 0;
  border-radius: 50%;
}

.platform-details .picBx .imgBx .desc::before,
.platform-details .picBx .imgBx .desc::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 30px;
  height: 5px;
  width: 120px;
  border-radius: 5px;
  background: #2dd08c;
}

.platform-details .picBx .imgBx .desc::after {
  bottom: 5px;
  top: initial;
  width: 70px;
  background: #97e8c6;
}

.platform-details .picBx .imgBx .desc:nth-child(4),
.platform-details .picBx .imgBx .desc:nth-child(4)::before {
  background: #eadb56;
}

.platform-details .picBx .imgBx .desc:nth-child(4)::after {
  background: #f5edab;
}

.platform-details .picBx .imgBx .desc:nth-child(5),
.platform-details .picBx .imgBx .desc:nth-child(5)::before {
  background: #e5668c;
}

.platform-details .picBx .imgBx .desc:nth-child(5)::after {
  background: #f2b3c6;
}

.platform-details .content,
.action .content {
  width: 500px;
}

.platform-details .content h2,
.action .content h2 {
  margin-bottom: 30px;
}

.platform-details .content p,
.action .content p {
  margin-bottom: 30px;
}

.platform-details .picBx.sec .imgBx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: -65px;
  top: initial;
  right: 50%;
  transform: translateX(50%);
}

.platform-details .picBx.sec .imgBx p {
  text-align: center;
  margin: 20px 0;
  line-height: 1.2rem;
}

.platform-details .picBx.sec .imgBx p span {
  display: block;
  font-weight: var(--text-bold);
  font-size: var(--text-lg);
}

.platform-details .picBx.sec .imgBx .av {
  display: flex;
}

.platform-details .picBx.sec .imgBx .av .av-img {
  height: 35px;
  width: 35px;
  margin: 0 -5px;
}

.platform-details .picBx.sec .imgBx .av .av-img img {
  width: 100%;
  height: 100%;
}

.platform-details .picBx.sec .imgBx2 {
  /* align-items: flex-start; */
  bottom: 50%;
  height: 80px;
  width: 120px;
  background: #9cbdff;
  border-bottom-right-radius: 0;
  padding: 0;
}

.platform-details .picBx.sec .imgBx2::after {
  position: absolute;
  content: "";
  background: transparent;
  height: 0px;
  width: 0px;
  bottom: -10px;
  right: 0;
  border: 20px solid transparent;
  border-right: 20px solid #9cbdff;
}

.platform-details .picBx.sec .imgBx2 span {
  align-content: flex-start;
  display: block;
  background: var(--color-white);
  width: 80px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
}

.platform-details .picBx.sec .imgBx2 span:nth-child(2) {
  width: 70px;
  background-color: rgba(255, 255, 255, 0.9);
}

.platform-details .picBx.sec .imgBx2 span:nth-child(3) {
  width: 55px;
  background-color: rgba(255, 255, 255, 0.7);
}

/* testimonials section  */
.testimonials {
  position: relative;
  padding: 80px 100px;
  margin-top: 100px;
}

.testimonials h2 {
  text-transform: capitalize;
  text-align: center;
}

.testimonials > p {
  text-align: center;
  width: 40%;
  margin: 40px auto;
  margin-bottom: 70px;
}

.testimonials .test-cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.testimonials .test-cards .test-card {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 277px;
  background: var(--color-white);
  color: var(--color-black);
  padding: 35px 50px;
  border-radius: 10px;
  margin: 0 20px;
}

.testimonials .test-cards .test-card .rating {
  color: var(--color-star);
  font-size: var(--text-lg);
}

.testimonials .test-cards .test-card > p {
  margin: 10px 0;
  flex-grow: 1;
  /* background: coral; */
}

.testimonials .test-cards .test-card .card-tchr {
  justify-content: flex-start;
}

.testimonials .test-cards .test-card .card-tchr .bx {
  font-size: var(--text-xl);
  color: var(--color-bg);
  margin-left: auto;
  /* justify-self: flex-end; */
}

/* action section */
.action {
  padding: 150px 250px;
  background: url(images/curve_vector_1.png) no-repeat bottom right;
  background-size: 600px 400px;
}

/* footer section */
.footer {
  padding: 80px 200px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1;
  font-size: var(--text-regular);
  font-weight: var(--text-light);
}

.footer h3 {
  margin-bottom: 25px;
  font-weight: var(--text-light);
}

.footer .links li {
  margin: 10px 0;
}

.footer p {
  width: 320px;
  line-height: 1;
  margin: 25px 0;
}

.footer form {
  display: flex;
  background: coral;
  width: 100%;
  height: 38px;
}

.footer form input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.footer form button{
  border-radius: 0;
}
